<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>dhl</name>
            <displayName><![CDATA[DHL Shipping]]></displayName>
            <version><![CDATA[1.2.4]]></version>
            <description><![CDATA[Get real time DHL shipping rates]]></description>
            <author><![CDATA[Presto-Changeo]]></author>
            <tab><![CDATA[shipping_logistics]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>